<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>grizzly-store-admin-web</display-name>
  <welcome-file-list>
    <welcome-file>AdminLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.pack.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.pack.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddProductController</servlet-name>
    <servlet-class>com.pack.controller.AdminAddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductController</servlet-name>
    <url-pattern>/AdminAddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminListProductController</servlet-name>
    <servlet-class>com.pack.controller.AdminListProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListProductController</servlet-name>
    <url-pattern>/AdminListProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRemoveProductController</servlet-name>
    <servlet-class>com.pack.controller.AdminRemoveProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRemoveProductController</servlet-name>
    <url-pattern>/AdminRemoveProductController</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminViewProductController</servlet-name>
    <servlet-class>com.pack.controller.AdminViewProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewProductController</servlet-name>
    <url-pattern>/AdminViewProductController</url-pattern>
  </servlet-mapping>
</web-app>